
	<nav class=" navbar navbar-default" style="position: initial;background-color: #70cbf4;">
       <div  class=" content-width-menu2">

  
	 <div class="dropdown2">
		  <button class="dropbtn2">HOLIDAYS  <span class="caret caret2"></span></button>
		  <div class="dropdown-content2">
		     <div class="col-sm-4">			        
					<a >jjj</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
			</div>
		    <div class="col-sm-4">
					<a routerLink="/Destinations-link" href="#/">Destinations</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
			</div>
		    <div class="col-sm-4">
					<a href="#">jjj</a>
					<a href="#">Link 2</a>
					<a href="#">Link 3</a>
			</div>
		  </div>
    </div>
	 <div class="dropdown2">
		  <button class="dropbtn2">CRUISES <span class="caret caret2"></span></button>
		  <div class="dropdown-content2">
			<a href="#" >Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		  </div>
    </div>
	 <div class="dropdown2">
		  <button class="dropbtn2">FLIGHTS <span class="caret caret2"></span></button>
		  <div class="dropdown-content2">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		  </div>
    </div>
	 <div class="dropdown2">
		  <button class="dropbtn2">CITIES <span class="caret caret2"></span></button>
		  <div class="dropdown-content2">
			<a href="#">Link 1</a>
			<a href="#">Link 2</a>
			<a href="#">Link 3</a>
		  </div>
    </div>
	 
	    <button class="dropbtn2">MULTI CENTRES </button>
		 <button class="dropbtn2">DEALS </button>
		  <button class="dropbtn2">DESTINATIONS </button>
          <button class="dropbtn2">EXTRAS </button>	 
    </div>
</nav>
<div class="container">
 	<router-outlet></router-outlet>
</div>



						
		