<article class="col-sm-12" id="search-panel">
	<section class="content-width">
		<div class="col-sm-12 form-container pd-20">
			<form>
			  	<div class="col-sm-2">
			  		<div class="label">
				    	<label class="">Fly from</label>
				    </div>
			    	<input type="text" class="form-control search-form"  placeholder="Choose airports">
			  	</div>
			  	<div class="col-sm-2">
			  		<div class="label">
				    	<label class="">Where to?</label>
				    </div>
			    	<input type="text" class="form-control search-form" placeholder="Any destination">
			  	</div>
			  	<div class="col-sm-2">
			  		<div class="label">
				    	<label class="">When?</label>
				    </div>
			    	<input type="text" class="form-control search-form" placeholder="Select a date">
			  	</div>
			  	<div class="col-sm-2">
			  		<div class="label">
				    	<label class="">How long?</label>
				    </div>
			    	<div>
			    		<select name="duration" id="duration" class="form-control search-form">
							<option value="7114" selected="select">Around a week</option>
                            <option value="4321">A few days</option>
                            <option value="1014">Around 10 nights</option>
                            <option value="1114">Around 11 nights</option>
                            <option value="1413">Around 2 weeks</option>
                            <option value="2118">Long stay</option>
                            <option value="1245" disabled="disabled" class="lapland"> Day Trip</option>
                        </select>
			    	</div>
			  	</div>
			  	<div class="col-sm-1">
			  		<div class="label">
				    	<label class="">Adult</label>
				    </div>
			    	<div>
			    		<select id="adults" name="noOfAdults" class="form-control search-form">
							<option value="1">1</option>										
							<option value="2">2</option>										
							<option value="3">3</option>										
							<option value="4">4</option>										
							<option value="5">5</option>										
							<option value="6">6</option>										
							<option value="7">7</option>										
							<option value="8">8</option>										
							<option value="9">9</option>										
						</select>
			    	</div>
			  	</div>
			  	<div class="col-sm-3" style="margin-top:2px;">
			  		<div class="col-sm-12 label text-left">
				    	<label class="">Children (0-17)</label>
				    </div>
				    <div class="col-xs-3 no-padding">
			    		<select name="noOfChildren" id="children" class="form-control search-form">
							<option value="0">0</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
							<option value="4">4</option>
							<option value="5">5</option>
							<option value="6">6</option>
							<option value="7">7</option>
							<option value="8">8</option>
						</select>
			    	</div>
			    	<div class="col-xs-9 pr-0">
				    	<button class="btn searchBtn">Search</button>
				    </div>
			  	</div>
			</form>
		</div>
	</section>
</article>
<article class="col-xs-12 no-padding">
	
	<div  style="opacity:1;">
     	<a href="http://www.thomson.co.uk/destinations/deals" class="ensLinkTrack">
	        <div class="hero-img">
	            <div class="img-cover"></div>
	        </div>                
	    </a>                  
 	</div>

</article>
<article class="col-sm-12 hero-intro">
	<section class="content-width">            		
		<div class="title TH_DISCMORE">
				<a href="javascript:void(0);">
					<h1 class="uppercase tui-dark-blue">{{header?.discoverMore?.morText}}</h1> 
					<p class="nomobile nominitablet"><i class="glyphicon glyphicon-menu-down tui-dark-blue"></i></p>
				</a>
		</div>
	</section>
	<section class="content-width">
		<div class="tact-merch most-popular">
			<div class="content-width">
				<div class="showcase nineX sevenX fiveX fourX two">
		            <ul class="c">
						<li>
							<div class="discover-wh" style="visibility: visible; display: block;">
								<div class="discover-wh discover-anchore">
									<a href="http://www.thomson.co.uk/destinations/deals/11-night-durations?vlid=thms457" class="ensLinkTrack">
										<div class="containers dest-img-link discover-wh">			 
							               <div class="crop discover-wh">
											  <img class="lazy-img loaded " src="../src/images/large.jpg" >
							               </div>
							               <div class="copy-container info-box">
							                  	<div class="copy-tint full-h">
								                    <div class="box white fullText">
														<h2 class="pad-bottom-5">{{dependence?.components?.introTextList?.text}}</h2>
														<p class="size-16 tui pad-bottom-5 droid">Escape to the Canary Islands and save £50 per booking with code CAN50. <i class="icon-v2 icon-forwardnext size-13 pad-left-5"></i></p>
														<p class="sub-text size-12 droid"></p>
													</div>
							                  	</div>
							               </div>
		           	 					</div>
		         					</a>
								</div>
							</div>
						</li>

				   		<li>
				   			<div class="discover-wh" style="visibility: visible; display: block;">
								<div class="discover-wh discover-anchore">
									<a href="http://www.thomson.co.uk/destinations/free-child-places?vlid=thms344&amp;vlid=thms430" class="ensLinkTrack">
										<div class="containers dest-img-link discover-wh">			 
							               <div class="crop discover-wh">
											  <img class="lazy-img loaded " src="../src/images/Quarter.jpg" >
							               </div>
							               <div class="copy-container info-box">
							                  	<div class="copy-tint full-h">
								                    <div class="box white fullText">
														<h2>SAVE WITH FREE CHILD PLACES.</h2>
													 	<p class="size-16 tui droid">Using our NEW free child place finder. <i class="icon-v2 icon-forwardnext size-13 pad-left-5"></i></p>
														<p class="sub-text size-12 droid"></p>
													</div>
							                  	</div>
							               </div>
		           	 					</div>
		         					</a>
								</div>
							</div>
				 		</li>
		   			</ul>
				</div>
			</div>
		</div>
		<div class="col-sm-12 no-padding">
            <div class="col-sm-6 dest-img-link">
                <div class="col-sm-12 no-padding discover discover-empty"  style="height: 250px;">
                    <div class="box">
                        <div class="offer-details">
                            <h2 class="uppercase offer-title size-28">SAVE WITH OUR LOW DEPOSITS.</h2><p class="offer-text size-20">Book your holiday for as little as £50 per person.<i class="icon-v2 icon-forwardnext size-13"></i></p>
                            <p class="size-12">Terms and conditions apply.</p>
                            <p class="size-12 nomobile notablet nominitablet droid"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-12 no-padding discover discover-grey">
                    <div class="box" style="height: 250px;">
                        <div class="col-sm-12 recomndTitle">
                        	<h3 class="uppercase marg-bottom-10">Recommended for you</h3>
                        </div>
						<div class="col-sm-12 container">
						  	<div id="myCarousel" class="col-sm-12 carousel slide" data-ride="carousel">
						   
							    <div class="col-sm-12 carousel-inner" role="listbox">
							      	<div class="col-sm-12 item active no-padding">
							       		<div class="col-sm-7 crop fl no-padding">
					                        <a href="/destinations/africa/cape-verde/cape-verde-islands/boa-vista/hotels/hotel-riu-touareg.html" class="ensLinkTrack corouselImg">
					                            <img src="http://newmedia.thomson.co.uk/live/vol/0/84204d70e868c3561c2dd4369c7e996e932c2705/488x274/web/AFRICACAPEVERDECAPEVERDEISLANDSBOAVISTARES_004235RIUTOUAREG.jpg" alt="Riu Touareg">
					                            <span class="PLT  label product-colour-label with-text"></span>
					                            <div class="crop crop-cover"></div>
					                        </a>      
					                    </div> 				                                             
					                    <div class="col-sm-5 trigger fl imgText">
					                        <div><a href="/destinations/africa/cape-verde/cape-verde-islands/boa-vista/hotels/hotel-riu-touareg.html" class="title ensLinkTrack"> Riu Touareg  </a></div>
					                        <div class="location size-16">in   Cape Verde </div>					                        
				                            <div class="t-rating t5 marg-top-10">
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span class="plus">Plus</span>
				                            </div>
					                    </div>  
							      	</div>

								    <div class="col-sm-12 item no-padding">
							       		<div class="col-sm-7 crop fl no-padding">
					                        <a href="/destinations/africa/cape-verde/cape-verde-islands/boa-vista/hotels/hotel-riu-touareg.html" class="ensLinkTrack corouselImg">
					                            <img src="http://newmedia.thomson.co.uk/live/vol/2/5806cd1e58427dfa0d3ce28ccb444664938c26b2/488x274/web/EUROPEMEDITERRANEANSPAINCON_ESPTENERIFEDES_000335GUIADEISORASENSATORITENERIFE.jpg" alt="Sensatori Resort Tenerife">
					                            <span class="PLT  label product-colour-label with-text"></span>
					                            <div class="crop crop-cover"></div>
					                        </a>      
					                    </div> 				                                             
					                    <div class="col-sm-5 trigger fl imgText">
					                        <div><a href="/destinations/europe/spain/tenerife/guia-de-isora/hotels/sensatori-resort-tenerife.html" class="title ensLinkTrack"> Sensatori Resort Tenerife  </a></div>
					                        <div class="location size-16">in  Guia de Isora,   Spain</div>					                        
				                            <div class="t-rating t5 marg-top-10">
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span class="plus">Plus</span>
				                            </div>
					                    </div>  
							      	</div>
							      	<div class="col-sm-12 item no-padding">
							       		<div class="col-sm-7 crop fl no-padding">
					                        <a href="/destinations/africa/cape-verde/cape-verde-islands/boa-vista/hotels/hotel-riu-touareg.html" class="ensLinkTrack corouselImg">
					                            <img src="http://newmedia.thomson.co.uk/live/vol/3/414eaf09c81fbc178e231bd0bded2eb518ffda4b/488x274/web/CARIBBEANMEXICOMEXICOCON_MEXMEXICO-CARIBBEANCOASTRIVIERAMAYARES_001696SENSATORIRESORTMEXICO.jpg" alt="Sensatori Resort Mexico">
					                            <span class="PLT  label product-colour-label with-text"></span>
					                            <div class="crop crop-cover"></div>
					                        </a>      
					                    </div> 				                                             
					                    <div class="col-sm-5 trigger fl imgText">
					                        <div><a href="/destinations/caribbean/mexico/mexico-caribbean-coast/riviera-maya/hotels/sensatori-resort-mexico.html" class="title ensLinkTrack"> Sensatori Resort Mexico  </a></div>
					                        <div class="location size-16">in  Riviera Maya,   Mexico </div>					                        
				                            <div class="t-rating t5 marg-top-10">
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span class="plus">Plus</span>
				                            </div>
					                    </div>  
							      	</div>
							      	<div class="col-sm-12 item no-padding">
							       		<div class="col-sm-7 crop fl no-padding">
					                        <a href="/destinations/africa/cape-verde/cape-verde-islands/boa-vista/hotels/hotel-riu-touareg.html" class="ensLinkTrack corouselImg">
					                            <img src="http://newmedia.thomson.co.uk/live/vol/0/5407b73993c0b30990fdfdf030e6103c0be5ad3e/488x274/web/EUROPEMEDITERRANEANSPAINCON_ESPLAPALMADES_001940FUENCALIENTELAPALMAPRINCESS.jpg" alt="La Palma &amp; Teneguia Princess">
					                            <span class="PLT  label product-colour-label with-text"></span>
					                            <div class="crop crop-cover"></div>
					                        </a>      
					                    </div> 				                                             
					                    <div class="col-sm-5 trigger fl imgText">
					                        <div><a href="/destinations/europe/spain/la-palma/fuencaliente/hotels/la-palma-and-teneguia-princess.html" class="title ensLinkTrack" > La Palma &amp; Teneguia Princess  </a></div>
					                        <div class="location size-16">in  Fuencaliente,   Spain </div>					                        
				                            <div class="t-rating t5 marg-top-10">
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span>O</span>
				                                <span class="plus">Plus</span>
				                            </div>
					                    </div>  
							      	</div>
							    </div>

						    	<!-- Left and right controls -->
							    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
							      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
							      <span class="sr-only">Previous</span>
							    </a>
							    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
							      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
							      <span class="sr-only">Next</span>
							    </a>
							    <div class="col-sm-12 text-center">
								    <ol class="carousel-indicators">
								      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
								      <li data-target="#myCarousel" data-slide-to="1"></li>
								      <li data-target="#myCarousel" data-slide-to="2"></li>
								      <li data-target="#myCarousel" data-slide-to="3"></li>
								    </ol>
								</div>
						  	</div>
						</div>
                    </div>
                </div>
             
            </div>
        </div>
	</section>


</article>
<article class="col-xs-12 no-padding">
	
	<div class="container-fluid bodydiv1" style="background-color:#dbf2fc;">
	   <div class=" container_body">
	         <center><h3 class="title uppercase">HOLIDAYS DESIGNED BY TUI</h3></center>
	          <p class="subtext"> At TUI we're proud of our unrivalled offering of unique hotels and exciting destinations. Whatever you're looking for we've got a holiday collection designed especially for you. From family getaways and couple's retreats to all-out indulgence and off-the-beaten-track adventures the world is your oyster. That's why 97% of our customers rate us as good or excellent.</p>
	      <div class="products-layout">
	           <div class="row">
<a href="{{showmore?.components && showmore?.components[0].link}}">
	               <div class="col-md-6 col-xs-12">
	                         <div class="imagecont">
	                                 <div class="boxlogo">
	                                    <div class="disk_logo  disk_logolink1"></div>
	                                    <div class="desktop_product1"><p style="">{{showmore?.components && showmore?.components[0].text }}</p></div>
	                                 </div>
	                             <div class="imgclass1"></div>
	                         </div> 
	              </div>
</a>
<a href="{{showmore?.components && showmore?.components[1].link}}">
	               <div class="col-md-6 col-xs-12">
	                          <div class="imagecont2">
	                             <div class="boxlogo2">
	                                    <div class="disk_logo  disk_logolink2"></div>
	                                    <div class="desktop_product2"><p style="">{{showmore?.components && showmore?.components[1].text }}</p></div>
	                                 </div>
	                             <div class="imgclass2"></div>
	                         </div> 
	               </div>
</a>
	           </div>
	            <div class="row">
					<a href="{{showmore?.components && showmore?.components[2].link}}">
	               <div class="col-md-6 col-xs-12">
	                       <div class="imagecont">
	                            <div class="boxlogo3">
	                                    <div class="disk_logo  disk_logolink3"></div>
	                                    <div class="desktop_product3"><p style="">{{showmore?.components && showmore?.components[2].text }}</p></div>
	                                 </div>
	                             <div class="imgclass3"></div>
	                         </div> 
	              </div>
					</a>
					<a href="{{showmore?.components && showmore?.components[3].link}}">
	               <div class="col-md-6 col-xs-12">
	                 
	                        <div class="imagecont2">
	                                <div class="boxlogo4">
	                                    <div class="disk_logo  disk_logolink4"></div>
	                                    <div class="desktop_product4"><p style="">{{showmore?.components && showmore?.components[3].text }}</p></div>
	                                 </div>
	                             <div class="imgclass4"></div>
	                         </div> 
	               </div>
					</a>
	           </div>
	            <div class="row">
					<a href="{{showmore?.components && showmore?.components[4].link}}">
	               <div class="col-md-6 col-xs-12">
	                       <div class="imagecont">
	                             <div class="boxlogo5">
	                                    <div class="disk_logo  disk_logolink5"></div>
	                                    <div class="desktop_product5"><p style="">{{showmore?.components && showmore?.components[4].text }}</p></div>
	                                 </div>
	                             <div class="imgclass5"></div>
	                       </div> 
	              </div>
					</a>
	               <div class="col-md-6 col-xs-12"></div>
	           </div>




	      </div> 
	      <br/>
	       <center>
	       <button class="btn btn-link" id="btnhideshow" (click)="showmoreholidaylist()" style="font-size:18px; color:white">See More </button>
	       </center>
	  </div>
	 <!-- ------------------------------Hidecontent----------------------------- -->
	    <div class="hideshowcont" [ngClass]="{hide: !showmoreholidays}">    
	       <div class="container_body" style="background-color:#dbf2fc;">
	           <center><h2 class="title2">MORE FROM TUI</h2></center>
	               <div class="products-layout">
	               

	                   <div class="row">
						   <a href="{{showmore?.showmore && showmore?.showmore[0].link}}">
	                      <div class="col-md-4">
	                              <div class="imagecontbox">
	                                   <div class="box1-1"></div>
	                                   <div class="box2">{{showmore?.showmore && showmore?.showmore[0].text }}</div>
	                                   <div class="imageLink1"></div>
	                              </div>
						  </div></a>
						  <a href="{{showmore?.showmore && showmore?.showmore[1].link}}">
	                      <div class="col-md-4">
	                            <div class="imagecontbox">
	                                  <div class="box1-2"></div>
	                                  <div class="box2">{{showmore?.showmore && showmore?.showmore[1].text }}</div>
	                                  <div class=" imageLink2"></div>
	                            </div>
	                      </div>
						  </a>
						  <a href="{{showmore?.showmore && showmore?.showmore[2].link}}">
	                      <div class="col-md-4">
	                            <div class="imagecontbox">
	                                <div class="box1-3"></div>
	                                <div class="box2-3">{{showmore?.showmore && showmore?.showmore[2].text }}</div>
	                                <div class=" imageLink3"></div>
	                            </div>
	                      </div> 
						  </a> 
	                   </div> 
	                   <br/>
	                    <div class="row">
						 <a href="{{showmore?.showmore && showmore?.showmore[3].link}}">	
	                      <div class="col-md-4">
	                              <div class="imagecontbox">
	                                   <div class="box1-4"></div>
	                                   <div class="box2-4">{{showmore?.showmore && showmore?.showmore[3].text }}</div>
	                                   <div class="imageLink4"></div>
	                              </div>
	                      </div>
						  </a>
						   <a href="{{showmore?.showmore && showmore?.showmore[4].link}}">
	                      <div class="col-md-4">
	                            <div class="imagecontbox">
	                                  <div class="box1-5"></div>
	                                  <div class="box2-5">{{showmore?.showmore && showmore?.showmore[4].text }}</div>
	                                  <div class=" imageLink5"></div>
	                            </div>
	                      </div>
						  </a>
						   <a href="{{showmore?.showmore && showmore?.showmore[5].link}}">
	                      <div class="col-md-4">
	                            <div class="imagecontbox">
	                                <div class="box1-6"></div>
	                                <div class="box2-6">{{showmore?.showmore && showmore?.showmore[5].text }}</div>
	                                <div class=" imageLink6"></div>
	                            </div>
	                      </div>  
						   </a>
	                   </div> 
	                   <br/>
	                    <div class="row">
							<a href="{{showmore?.showmore && showmore?.showmore[6].link}}">
	                      <div class="col-md-4">
	                              <div class="imagecontbox">
	                                   <div class="box1-7"></div>
	                                   <div class="box2-7">{{showmore?.showmore && showmore?.showmore[6].text }}</div>
	                                   <div class="imageLink7"></div>
	                              </div>
	                      </div>
						  </a>
	                      <div class="col-md-4">
	                         
	                      </div>
	                      <div class="col-md-4">
	                            
	                      </div>  
	                   </div> 
	              </div>
	              <br/>
	      </div>
	   </div>

	</div>
</article>
<article class="col-sm-12">
	<section class="content-width">
		<div class="row margin-15">
		  	<div class="col-xs-12">
				<div class="destinationHeader">{{tourist?.DestinationDeals?.header}}</div>
		    </div>
		    <div class="col-xs-12 no-padding">
			    <div class="col-xs-6" *ngFor='let navigation of tourist?.DestinationDeals?.items'>
			    	<div class="col-xs-12 destination">
				    	<a  href={{navigation.link}} >
				          	<span class="destinationTitle">{{navigation.text}}</span>
				          	<span class="destinationCurrency pull-right">
				          		<span class="from">from</span> 
				            	<span>£</span>
				            	<span class="pricepp">{{navigation.val}}</span>
				            	<span class="pp">pp</span>
				            </span>
				      	</a>
				    </div>
			    </div>
			</div>
			
			
	  	</div>
	</section>

</article>
<article class="col-sm-12 destination">
	<section class="content-width" *ngFor='let navigation of tourist.Touristbanner'>
	  <a href="{{navigation.navigationUrl}}">
	  	<div class="col-xs-12 recommended">
		
	    	<!--<img src="../src/images/Costa-Daurada.jpg">-->
		<img src={{navigation.imagesList?.LARGE}}>
	    </div>
	    <div class="col-xs-8 recommendedText">
	    	<div>{{navigation.heading}}</div>
	    </div>
		</a>
	</section>
</article>

<article class="col-sm-12 bestFor">
		<div class="content-width">
		<div class="col-sm-12 no-padding">
			<h2>{{tourist?.BestForSlot?.header}}</h2>
		</div> 
		<div class="col-sm-12 no-padding">
			<div class="col-sm-12 pad-10-0">{{tourist?.BestForSlot?.subHeader}}</div> 

<div class="col-sm-12 pad-10-0 fwt-600">
				<div class="col-xs-6 col-sm-2 bestAnchor" *ngFor='let navigation of tourist?.BestForSlot?.items'>
					<span><a href={{navigation.linkurl}}>{{navigation.linktext}}</a></span>
				</div>		
			</div>
		</div>
	</div>
</article>